[submodule "video/video/FaceSwap"]
	path = video/video/FaceSwap
	url = https://github.com/wuhuikai/FaceSwap
[submodule "video/_3DDFA_V2"]
	path = video/_3DDFA_V2
	url = https://github.com/cleardusk/3DDFA_V2
[submodule "video/FaceSwap"]
	path = video/FaceSwap
	url = https://github.com/wuhuikai/FaceSwap
